<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Louisa's First App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('my_view.index')}}">Home</a>
        <a href="{{ url_for('my_view.page2')}}">Page 2</a>
        <a href="{{ url_for('my_view.page3')}}">Page 3</a>
        <a href="{{ url_for('my_view.page4')}}">Page 4</a>
        <a href="{{ url_for('my_view.page5')}}">MegaBytes</a>
        <a href="{{ url_for('my_view.page6')}}">MegaBytes Reviews</a>
    </nav>

    {% block content %}

    {% endblock content %}
    
</body>
</html>
